spring:
  application:
    name: user-service
  
  data:
    mongodb:
      database: user_service_db
      host: localhost
      port: 27017

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

application:
  security:
    jwt:
      secret-key: mySecretKey
      expiration: 86400000